* {
  margin: 0;
  font-family: Inter, sans-serif;
  color: white;
}

.container {
  background-image: url("https://images.creativemarket.com/0.1.0/ps/15464480/6000/4000/m1/fpnw/wm1/sstk_778501606_9890444.jpg-.jpg?1&s=cc722df190fee2f8634d7e7efe0d5b03");
  background-size: cover;
}

/* starting screen styling */

header h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* starting screen images */

img {
  width: 100%;
}

.chip-image-wrapper {
  width: 100%;
  max-width: 100px;
}

.starting-screen-container .column-half {
  margin: 0 0.5rem;
  margin-bottom: 2rem;
}

/* starting screen money */

.starting-screen-container p {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

/* deal button */

.deal-button {
  color: black;
  border-radius: 50%;
  border: none;
  padding: 2rem 1.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Game screen. Money and bet text styling */

.money-bet-values {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  margin-bottom: 3rem;
}

.game-money,
.game-bet {
  font-weight: bold;
}

.game-money {
  margin-right: 1rem;
}

/* hit and stand button styling */

.hit-button,
.stand-button {
  color: black;
  border-radius: 50%;
  border: none;
  height: 100px;
  width: 100px;
  margin: 0 0.7rem;
  font-weight: bold;
  font-size: 1.5rem;
}

/* graph button styling */

.graph-button {
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0.7rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* dealers and players hand styling */

.row.hand {
  flex-direction: column;
}

.dealers-hand-value,
.players-hand-value {
  text-align: center;
  font-size: 1.5rem;
}

.dealers-hand,
.players-hand {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.dealers-hand img,
.players-hand img {
  flex: 1;
  min-width: 0;
  max-width: 120px;
}

.results-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.results {
  font-size: 4rem;
  font-weight: bold;
}

/* hidden */

.hidden {
  display: none;
}
